*{margin: 0px;
padding: 0px;
box-sizing: border-box;
font-family: 'Fraunces', serif; 
font-family: 'Lato', sans-serif;
font-family: 'Oswald', sans-serif; 
}

body{
    background-color: #c4a47c;
}



/*Logo da pagina*/
.logo1{
    width: 170px;
    padding-left: 100px;
    height: 70px;
}

.fundadores{
    background-color: #604829;
    display: flex;
    position: fixed;
    box-shadow: 10px 5px 5px black;
    width: 100%;
    height: 70px;
}

h1{
    margin: 0 auto;
    color: #c4a47c;
    padding-top: 12px;
}

/*herbert*/

p{
    font-size: 15px;
    padding-left: 10px;
    text-align: center;
}

.container{
    height: 400px;
    width: 200px;
    position: relative;
    perspective: 1000px;
    padding-left: 10px;
    padding-top: 100px;
    
    
}

.front{
    position: absolute;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transition: all 2s ease;
    background-color: rgb(54, 21, 21);
    height: 200px;
    width: 200px;
}



.back{
    position: absolute;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transition: all 1s ease;
    background-color:#604829;
    height: 300px;
    width: 250px;
}

.front,.text1{
    color:rgb(17, 17, 18);
    
    
}
 img{
    height: 200px;
    width: 200px;
 }

.front,.text2{
    color:white;
    padding: 10px;
    
   
}
h1{
    padding-top: 10px;
    padding-left: 50px;
    font-size: 25px;
    color: #fff;
}

p{
    color: white;
}


.front{
    transform: rotateY(0deg);
   
}

.back{
    transform: rotateY(180deg);
    
}

.container:hover .front{
    transform: rotateY(-180deg);
    
}

.container:hover .back{
    transform: rotateY(-0deg);
}





/*paulo*/



p{
    font-size: 15px;
    padding-left: 10px;
    text-align: center;
}

.container1{
    height: 400px;
    width: 200px;
    position: relative;
    perspective: 1000px;
    padding-left: 400px;
    padding-top: 1px;
    
    
}

.front1{
    position: absolute;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transition: all 2s ease;
    background-color: rgb(54, 21, 21);
    height: 200px;
    width: 200px;
}



.back1{
    position: absolute;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transition: all 1s ease;
    background-color:#604829;
    height: 300px;
    width: 250px;
}

.front1,.text3{
    color:rgb(17, 17, 18);
    
    
}

.text2{
    color:#fff;
}
/*img paulo*/
  .paulo{
    height: 200px;
    width: 200px;
 }

.front1,.text4{
    color:white;
    padding: 10px;
    
   
}


h1{
    padding-top: 10px;
    padding-left: 50px;
    font-size: 25px;
    
}

p{
    color: white;
}


.front1{
    transform: rotateY(0deg);
   
}

.back1{
    transform: rotateY(180deg);
    
}

.container1:hover .front1{
    transform: rotateY(-180deg);
    
}

.container1:hover .back1{
    transform: rotateY(-0deg);
}






.CONTAINER-RODAPE a{
    width: 60px;
    height: 60px;
    position: absolute;
    right: 50px;
    bottom: 80px;
    background-image: url(imagens/seta-para-cima.png);
    background-repeat: no-repeat;
    color: #fff;
    text-decoration: none;
    font-size: 40px;
    
}

